// Choose a theme with constants
@import 'themes/default';

@import 'partials/widgets/inputField';

.submitting {
	color: #aaa;
}

@import 'partials/widgets/tooltip';


.input-hidden {
	display: none;
}

@import 'partials/types/select';

.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

@import 'partials/formBuilderIcons';

/**
 * For things that shouldn't selectable with a highlight
 */
.noselect {
	user-select: none;
}

@import 'partials/widgets/dateRangePicker';
@import 'partials/widgets/arrayField';
@import 'partials/widgets/textSubmitter';
@import 'partials/widgets/dropDownPanel';
@import 'partials/widgets/selectionField';


