h2
	a.anchor(name='demo-form' href='#demo-form')
	| Form
.section
	p To get a feel of how formBuilder is used, try out this simple demo.
	form#example(action="#" style="display: none")
		input(type="text" name="name" data-label="Name*" data-require='true')
		input(type="text" name="phoneNumber" data-type="phone" data-label="Phone Number")
		input(type="text" name="email" data-type="email" data-label="Email*" data-require='true')
		input(type="text" name="bestColor" data-type="select" data-label="Which is the best color?" data-default="#0000FF" data-options='[\
				{"value":"#FF0000", "label":"red"},\
				{"value":"#0000FF", "label":"blue"},\
				{"value":"#00FF00", "label":"green"},\
				{"value":"#FF9900", "label":"orange"},\
				{"value":"#FFFF00", "label":"yellow"},\
				{"value":"#000000", "label":"black"},\
				{"value":"#FFFFFF", "label":"white"},\
				{"value":"#CC66CC", "label":"purple"},\
				{"value":"#808080", "label":"gray"}\
			]')
		button(type='submit') Save




h2
	a.anchor(name='demo-results' href='#demo-results')
	| Results
.section
	i Events
	textarea#example-events.resultDisplay(readonly)
	
	i Data
	textarea#example-data.resultDisplay(readonly)




	
h2
	a.anchor(name='demo-source' href='#demo-source')
	| Source
.section
	.code(data-mode='html').
		<form id="example" action="#" style="display: none">
			<input type="text" name="name" data-label="Name*" data-require="true">
			<input type="text" name="phoneNumber" data-type="phone" data-label="Phone Number")>
			<input type="text" name="email" data-type="email" data-label="Email*" data-require="true">
			<input type="text" name="bestColor" data-type="select" data-label="Which is the best color?" data-default="#0000FF" data-options='[
					{"value":"#FF0000", "label":"red"},
					{"value":"#0000FF", "label":"blue"},
					{"value":"#00FF00", "label":"green"},
					{"value":"#FF9900", "label":"orange"},
					{"value":"#FFFF00", "label":"yellow"},
					{"value":"#000000", "label":"black"},
					{"value":"#FFFFFF", "label":"white"},
					{"value":"#CC66CC", "label":"purple"},
					{"value":"#808080", "label":"gray"}
				]'>
			<button type="submit">Save</button>
		</form>
	//- 

	.code(data-title="JAVASCRIPT (without result logging)" data-mode='javascript').
		var formExample = $('form#example:first').formBuilder({
			beforeset: function(ev) {

			},
			afterset: function(ev) {

			}
		});

		var saveForm = function(data, done) {
			// Save data to server
			$.ajax({
				url: 'someserver.com',
				type: 'POST',
				data: data,
				success: function(result) {
					//handle your server result
					done();
				},
				error: function() {
					//connection error
					done();
				}
			});
		};

		formExample.find('button[type="submit"]').submitButton({
			color: '#FF0000',
			beforesubmit: function(ev) {
				// Runs any presubmission stuff
			},
			
			submit: function(ev, done) {								
				// Run validation
				if(!formExample.formBuilder('validate')) {
					// The form is invalid somewhere
					done();
					return;
				}

				saveForm(formExample.formBuilder('get'), done);
			},
			
			aftersubmit: function(ev) {
				// Run any post-submission stuff
			}
		});
	//- 

	.code(data-title="JAVASCRIPT (with result logging)" data-mode='javascript' data-hidden='true').
		var events = $('#example-events');
		var data = $('#example-data');
		var eventNum = 1;
		var logEvent = function(str) {
			events.val(events.val()+'\n['+(eventNum++)+']  '+str);
			events.scrollTop(events[0].scrollHeight);
		};

		events.val('[0]  Start');

		var formExample = $('form#example:first').formBuilder({
			beforeset: function(ev) {
				logEvent('beforeset called on formBuilder');
			},
			afterset: function(ev) {
				logEvent('afterset called on formBuilder');
			}
		});

		logEvent('Initialized');

		var saveForm = function(data, done) {
			// Save data to server (setTimeout is just used in the example to simulate the lag time, use $.ajax instead)
			setTimeout(function(){
				// If the server-side save was good, set it back to clean
				logEvent('server save complete');
				done()
			}, 2000);
			
			/* Example server call
			$.ajax({
				url: 'someserver.com',
				type: 'POST',
				data: data,
				success: function(result) {
					//handle your server result
					done();
				},
				error: function() {
					//connection error
					done();
				}
			});
			*/
		};

		formExample.find('button[type="submit"]').submitButton({
			color: '#FF0000',
			beforesubmit: function(ev) {
				// Runs any presubmission stuff
				logEvent('beforesubmit called');
				data.val('');
			},
			
			submit: function(ev, done) {
				logEvent('submit called');
				

				// Run validation
				if(!formExample.formBuilder('validate')) {
					// The form is invalid somewhere
					logEvent('has invalid');
					done();
					return;
				}

				logEvent('all valid');

				var currData = formExample.formBuilder('get');
				data.val(JSON.stringify(currData,null,2));

				saveForm(currData, done);
			},
			
			aftersubmit: function(ev) {
				// Run any post-submission stuff
				logEvent('aftersubmit called');
			}
		});
	//- 