h2
	a.anchor(name="demo-form" href="#demo-form")
	| Drivers License Application
.section
	p To get a feel of how formBuilder is used, try out this simple demo.
	form#example(action="#" style="display: none")
		h4 Application Type (Select One)
		p
			.example
				input(type="radio" name="radioExample1" data-label="Driver\'s License")
				input(type="radio" name="radioExample1" data-label="Learner\'s Permit <i>and</i> Driver\'s License")
				input(type="radio" name="radioExample1" data-label="Motorcycle Learner\'s Permit")
				input(type="radio" name="radioExample1" data-label="Motorcycle License")
				input(type="radio" name="radioExample1" data-label="Driver\'s License with School Bus Endorsement")
				input(type="radio" name="radioExample1" data-label="Identification Card (ID)")
				br
		h4 Applicant Information
		p * Represents Required Fields
			.example
				input(type="text" name="name" data-label="Full Legal Name*" data-require="true")
				input(type="text" name="social" data-label="Social Security Number" data-type="SSN")
				input(type="text" name="birthday" data-label="Birthdate*" data-type="date" data-require="true")
				input(type="text" name="phoneNumber" data-type="phone" data-label="Phone Number")
				input(type="text" name="email" data-type="email" data-label="Email")
				.tooltip(title='Why Do We Need This?' name="tool")
					h1 Not for spam!
					p This email will be used to let you 
					p know when we have mailed 
					p your driver's licence and will 
					p send you updates on its delivery status
			.example: .input-field-group
				input(type="text" name="address" data-label="Street Address*" data-require="true" style="width:300px")
				input(type="text" name="apartment" data-type="number" data-label="Apt" style="width:50px")
				input(type="text" name="city" data-label="City*" data-require="true")
				input(type="text" name="state" data-type="state" data-label="State*" data-require="true" style="width:50px")
				input(type="text" name="zip" data-type="zip" data-label="Zip Code*" data-require="true" style="width:75px")
		p Gender
			.example
				input(type="radio" name="radioExample2" data-label="Male")
				input(type="radio" name="radioExample2" data-label="Female")
		p Physical Characteristics
			.example
				input(type="text" name="EyeColor" data-type="select" data-label="Eye Color" data-default="#0000FF" data-options='[\
					{"value":"#0000FF", "label":"Blue"},\
					{"value":"#00FF00", "label":"Green"},\
					{"value":"#A67B5B", "label":"Hazel"},\
					{"value":"#8B4513", "label":"Brown"}\
				]')
				input(type="text" name="HairColor" data-type="select" data-label="Hair Color" data-default="#0000FF" data-options='[\
					{"value":"Yellow", "label":"Blonde"},\
					{"value":"Red", "label":"Red"},\
					{"value":"Black", "label":"Black"},\
					{"value":"#8B4513", "label":"Brown"}\
				]')
			.example
				input(type="text" name="weight" data-type="integer" data-label="Weight" data-postinput="lbs" style="width:30px")
			.example: .input-field-group
				input(type="text" name="feet" data-type="integer" data-label="Height" data-postinput="ft" style="width:30px")
				input(type="text" name="inches" data-type="integer" data-postinput="in" style="width:30px")
		p Check all that apply to you 
			.example
				input(type="checkbox" name="check1" data-label="Do you wear glasses or contact lenses?")
				input(type="checkbox" name="check2" data-label="Do you have a physical or mental condition which requires that you take medication?")
				input(type="checkbox" name="check3" data-label="Have you ever had a seizure, blackout, or loss of consciousness?")
				input(type="checkbox" name="check4" data-label="Do you have a physical condition which requires you to use special equipment in order to drive?")
				input(type="checkbox" name="check5" data-label="Has your license or privilege to drive ever been suspended?")
		p If you checked any of the above please provide an explanation here (max 250 characters)
			.example
				textarea(rows='5' name="text" style="width:500px" data-max="250")
			.example
				div(name='arrayFieldExampleSimple' data-load-widget-as-field='arrayField' data-label="Please provide names of all family members to be listed as next of kin")
					input(type='text' name="family" data-placeholder='Family Member')
		p If this is not your first drivers license please fill out the following information
			.example 
			h5 Issue Date to Expiration Date
			p
				.dateRange
			input(type="text" name="state" data-type="state" data-label="State License Was Issued In" style="width:50px")
			p
			.example
				input(type="checkbox" name="check6" data-label="Agree to terms" data-require="true")
				button(type="submit") Submit Application




h2
	a.anchor(name="demo-results" href="#demo-results")
	| Results
.section
	i Events
	textarea#example-events.resultDisplay(readonly)
	
	i Data
	textarea#example-data.resultDisplay(readonly)




	
h2
	a.anchor(name="demo-source" href="#demo-source")
	| Source
.section
	.code(data-mode="html").
		<form id="example" action="#" style="display: none">
	h4 Application Type (Select One)
	p
	.code(data-mode="html").
			<input type="radio" name="radioExample1" data-label="Driver\'s License">
			<input type="radio" name="radioExample1" data-label="Learner\'s Permit <i>and</i> Driver\'s License">
			<input type="radio" name="radioExample1" data-label="Motorcycle License">
			<br/>
	h4 Applicant Information
	p
	.code(data-mode="html").
		<input type="text" name="name" data-label="Name*" data-require="true">
		<input type="text" name="social" data-label="Social Security Number" data-type="SSN">
		<input type="text" name="birthday" data-label="Birthdate*" data-type="date" data-require="true">
		<input type="text" name="phoneNumber" data-type="phone" data-label="Phone Number">
		<input type="text" name="email" data-type="email" data-label="Eye Color" data-require="true">
	.code(data-mode="html").
		<div class="input-field-group">
			<input type="text" name="address" data-label="Street Address*" data-require="true">
			<input type="text" name="city" data-label="City" data-require="true">
			<input type="text" name="state" data-type="state" data-label="State" data-require="true">
			<input type="text" name="zip" data-type="zip" data-label="Zip Code" data-require="true">
	p Gender
	.code(data-mode="html").
		<input type="radio" name="radioExample2" data-label="Male">
		<input type="radio" name="radioExample2" data-label="Female">
	p Physical Characteristics
	.code(data-mode="html").
		<input type="text" name="EyeColor" data-type="select" data-label="Eye Color" data-default="#0000FF" data-options='[
				{"value":"#0000FF", "label":"Blue"},
				{"value":"#00FF00", "label":"Green"},
				{"value":"#A67B5B", "label":"Hazel"},
				{"value":"#8B4513", "label":"Brown"}
			]'>
		<input type="text" name="HairColor" data-type="select" data-label="Hair Color" data-default="#0000FF" data-options='[\
				{"value":"Yellow", "label":"Blonde"},
				{"value":"Red", "label":"Red"},
				{"value":"Black", "label":"Black"},
				{"value":"#8B4513", "label":"Brown"}
			]'>
	.code(data-mode="html").
		<input type="text" name="weight" data-type="integer" data-label="Weight" data-postinput="lbs">
	.code(data-mode="html").
		<div class="input-field-group">
			<input type="text" name="feet" data-type="integer" data-label="Height" data-postinput="ft">
			<input type="text" name="inches" data-type="integer" data-postinput="in">
	p Check all that apply to you 
	.code(data-mode="html").
		<input type="checkbox" name="check1" data-label="Do you wear glasses or contact lenses?">
		<input type="checkbox" name="check2" data-label="Do you have a physical or mental condition which requires that you take medication?">
		<input type="checkbox" name="check3" data-label="Have you ever had a seizure, blackout, or loss of consciousness?">
		<input type="checkbox" name="check4" data-label="Do you have a physical condition which requires you to use special equipment in order to drive?">
		<input type="checkbox" name="check5" data-label="Has your license or privilege to drive ever been suspended?">
	.code(data-mode="html").
		<input type="checkbox" name="check6" data-label="Agree to terms" data-require="true">
		<button type="submit">Submit Application</button>
		</form>
	//- 

	.code(data-title="JAVASCRIPT (without result logging)" data-mode='javascript').
		var formExample = $('form#example:first').formBuilder({
			beforeset: function(ev) {

			},
			afterset: function(ev) {

			}
		});

		var saveForm = function(data, done) {
			// Save data to server
			$.ajax({
				url: 'someserver.com',
				type: 'POST',
				data: data,
				success: function(result) {
					//handle your server result
					done();
				},
				error: function() {
					//connection error
					done();
				}
			});
		};

		formExample.find('button[type="submit"]').submitButton({
			color: '#FF0000',
			beforesubmit: function(ev) {
				// Runs any presubmission stuff
			},
			
			submit: function(ev, done) {								
				// Run validation
				if(!formExample.formBuilder('validate')) {
					// The form is invalid somewhere
					done();
					return;
				}

				saveForm(formExample.formBuilder('get'), done);
			},
			
			aftersubmit: function(ev) {
				// Run any post-submission stuff
			}
		});
	//- 

	.code(data-title="JAVASCRIPT (with result logging)" data-mode='javascript' data-hidden='true').
		var events = $('#example-events');
		var data = $('#example-data');
		var eventNum = 1;
		var logEvent = function(str) {
			events.val(events.val()+'\n['+(eventNum++)+']  '+str);
			events.scrollTop(events[0].scrollHeight);
		};

		events.val('[0]  Start');

		var formExample = $('form#example:first').formBuilder({
			beforeset: function(ev) {
				logEvent('beforeset called on formBuilder');
			},
			afterset: function(ev) {
				logEvent('afterset called on formBuilder');
			}
		});

		logEvent('Initialized');

		var saveForm = function(data, done) {
			// Save data to server (setTimeout is just used in the example to simulate the lag time, use $.ajax instead)
			setTimeout(function(){
				// If the server-side save was good, set it back to clean
				logEvent('server save complete');
				done()
			}, 2000);
			
			/* Example server call
			$.ajax({
				url: 'someserver.com',
				type: 'POST',
				data: data,
				success: function(result) {
					//handle your server result
					done();
				},
				error: function() {
					//connection error
					done();
				}
			});
			*/
		};

		formExample.find('button[type="submit"]').submitButton({
			color: '#FF0000',
			beforesubmit: function(ev) {
				// Runs any presubmission stuff
				logEvent('beforesubmit called');
				data.val('');
			},
			
			submit: function(ev, done) {
				logEvent('submit called');
				

				// Run validation
				if(!formExample.formBuilder('validate')) {
					// The form is invalid somewhere
					logEvent('has invalid');
					done();
					return;
				}

				logEvent('all valid');

				var currData = formExample.formBuilder('get');
				data.val(JSON.stringify(currData,null,2));

				saveForm(currData, done);
			},
			
			aftersubmit: function(ev) {
				// Run any post-submission stuff
				logEvent('aftersubmit called');
			}
		});
	//- 