p.
	Forms are made into formBuilder forms by initializing them as formBuilder widgets. FormBuilder 
	will search for form fields and construct them automatically. 

.example
	form(class='fb')
		input(type='text' data-type='utext' data-label='Name')
		input(type='text' data-type='email' data-label='Email')

code(data-mode='html' data-title='HTML (before initialization)').
	<form>
		<input type="text" data-type="utext" data-label="Name"/>
		<input type="text" data-type="email" data-label="Email"/>
	</form>
//- 
code(data-mode='javascript').
	 $('form').formBuilder();
//- 
code(data-mode='html' data-title='HTML (after initialization)').
	<form style="display: block;">
		
		<div class="input-field-group">
			<div class="input-field">
				<label>Name</label>
				<div class="field-items">
					<span class="field-item field-item-input first">
						<input type="text" data-type="utext" data-label="Name">
					</span>
				</div>
			</div>
		</div>
		
		<div class="input-field-group">
			<div class="input-field">
				<label>Email</label>
				<div class="field-items">
					<span class="field-item field-item-input first">
						<input type="text" data-type="email" data-label="Email">
					</span>
				</div>
			</div>
		</div>

	</form>
//- 

p.
	Form element attributes/options may be added to specify different widget options. 
ul 
	li.
		The <code>data-required</code> attribute or <code>dataRequired</code> option sets 
		the default require statuses for all fields in the form.
	li.
		The <code>data-ignore-hidden</code> attribute or <code>ignoreHidden</code> option when 
		set will ignore fields that are not visible. They will not be validated 
		nor will any data be retrieved from them.
	li.
		The <code>data-load-hidden</code> attribute or <code>loadHidden</code> option when 
		set will hide the form while it is being constructed. Once complete, it 
		will show the form.

code(data-mode='html' data-title='HTML (using attributes)').
	<form id="formExampleDefaults">
		....
	</form>
	<form id="formExampleChanged" data-required data-ignore-hidden data-load-hidden="false">
		....
	</form>
//- 
code(data-mode='javascript' data-title='JAVASCRIPT (using initialization)').
	$('form#formExampleDefaults').formBuilder();

	$('form#formExampleChanged').formBuilder({
		dataRequired: true, // Default = false
		ignoreHidden: true, // Default = false
		loadHidden: false // Default = true
	});
//- 

