p Download formBuilder either directly from the repository or by using <a href="http://bower.io/">bower</a>.

code(data-mode="shell").
	 $ bower install add-formbuilder
//- 

h3 Bower dependencies:
ul
	li jquery (1.8.3 - 1.11.3)
	li jquery-ui (1.9.2)
	li normalize.css
	li moment
	li spinjs
	li jquery-timepicker-jt
	li bootstrap-datepicker

p You will also need a jquery-ui theme.

p You must include all of the dependencies
code(data-mode="html").
	&lt;html&gt;
	&lt;head&gt;
	
		...

		&lt;!-- Needed CSS --&gt;
		&lt;link type="text/css" rel="stylesheet" href="/bower_components/normalize.css/normalize.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/bower_components/jquery-timepicker-jt/jquery.timepicker.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/bower_components/add-formbuilder/dist/css/formBuilder.css"&gt;
	&lt;/head&gt;
	&lt;body&gt;

		...

		&lt;!-- Needed JavaScript --&gt;
		&lt;script type="text/javascript" src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/bower_components/moment/min/moment.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/bower_components/spinjs/spin.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/bower_components/jquery-timepicker-jt/jquery.timepicker.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/bower_components/add-formbuilder//dist/formBuilder.min.js"&gt;&lt;/script&gt;
	&lt;/body&gt;
	&lt;html&gt;
//- 
