p Download formBuilder either directly from the repository or by using <a href="http://bower.io/">bower</a>.

code(data-mode="shell").
	 $ bower install add-formbuilder
//-

h3 Bower dependencies:
ul
	li: a(href='https://jquery.com/') jquery (1.8.3 - 1.11.3)
	li: a(href='https://jqueryui.com/') jquery-ui (1.9.2)
	li: a(href='https://necolas.github.io/normalize.css/') normalize.css
	li: a(href='http://momentjs.com/') moment
	li
		a(href='http://fgnass.github.io/spin.js/') spinjs
		|  [nested]
	li
		a(href='http://jonthornton.github.io/jquery-timepicker/') jquery-timepicker-jt
		|  [nested]
	li
		a(href='https://bootstrap-datepicker.readthedocs.org/en/latest/') bootstrap-datepicker
		|  [nested]

p You will also need a jquery-ui theme.

p You must include all of the dependencies. There is a compiled nested version of formBuilder with some of the dependencies included and minified for convenience.

code(data-mode="html").
	&lt;html&gt;
	&lt;head&gt;

		...

		&lt;!-- Default CSS setup (nested) --&gt;
		&lt;link type="text/css" rel="stylesheet" href="/node_modules/normalize.css/normalize.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/dist/add-formbuilder/dist/css/formBuilder.nested.min.css"&gt;

		&lt;!-- Optional CSS setup (non-nested)
		&lt;link type="text/css" rel="stylesheet" href="/node_modules/normalize.css/normalize.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/node_modules/timepicker/jquery.timepicker.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.css"&gt;
		&lt;link type="text/css" rel="stylesheet" href="/dist/add-formbuilder/dist/css/formBuilder.css"&gt;
		--&gt;

	&lt;/head&gt;
	&lt;body&gt;

		...

		&lt;!-- Default JavaScript setup (nested) --&gt;
		&lt;script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/jquery-ui/ui/minified/jquery-ui.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/moment/min/moment.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/dist/add-formbuilder/dist/formBuilder.nested.min.js"&gt;&lt;/script&gt;

		&lt;!-- Optional JavaScript setup (non-nested)
		&lt;script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/jquery-ui/ui/minified/jquery-ui.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/moment/min/moment.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/spin.js/spin.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/node_modules/timepicker/jquery.timepicker.min.js"&gt;&lt;/script&gt;
		&lt;script type="text/javascript" src="/dist/add-formbuilder/dist/formBuilder.min.js"&gt;&lt;/script&gt;
		--&gt;


	&lt;/body&gt;
	&lt;html&gt;
//-
