doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='content-type' content='text/html; charset=utf-8')

		title jquery.formBuilder Test Runner

		// CSS Dependencies
		link(type='text/css' rel='stylesheet' href='http://code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css')
		link(type='text/css' rel='stylesheet' href ='../../bower_components/normalize.css/normalize.css')
		link(type='text/css' rel='stylesheet' href ='../../assets/css/formBuilder.css')

		// External JS Dependencies
		//- script(type='text/javascript' src='../../bower_components/jquery/dist/jquery.min.js')
		//- script(type='text/javascript' src='../../bower_components/jquery-ui/ui/minified/jquery-ui.min.js')
		script(type='text/javascript' src='../../bower_components/moment/min/moment.min.js')


		// JS Dependencies
		script(type='text/javascript' src='../../_test/js/dep.min.js')
		script(type='text/javascript' src='../../_test/js/jquery.vinUtils.js')
		script(type='text/javascript' src='../../build/jquery.formBuilder-ADD.min.js')

		// Some styling to make the tests look better
		style.
			body {
				padding: 2em;
			}
			#outside {
				position: absolute;
				background-color: #000000;
				left: 40em;
				top: 10em;
				padding: 2em;
				width: 5em;
				height: 5em;
			}

	body
		block content


		#outside

