extend ./_layout.jade
block content
	form#testForm(action='#')
		<input type="text" data-type="select" data-options='[{"value":"submitted to form", "label":"Searched Item"},{"value":"true", "label":"Yes"},{"value":"false", "label":"No"},{"value":"1", "label":"option 1"},{"value":"2", "label":"option 2"},{"value":"3", "label":"option 3"},{"value":"4", "label":"option 4"},{"value":"5", "label":"option 5"},{"value":"100",  "label":"Some label"},{"value":"AAA",  "label":"123 Some St."},{"value":"BBB",  "label":"Some Business Name Inc."},{"value":"Hodor",  "label":"Bran"}]'>