p.
	The Date-Time-Range Picker creates two input fields for a beginning and ending date and 
	also inclues time fields for each date. Different ranges can be selected using the drop 
	down panel. Arrow buttons can be used to move date ranges forwards or backwards by the 
	allotted amount of time. This widget uses the date data-type and the time-data type and 
	follows their rules for validation. If no time is selected, then the time fields will 
	default to 12:00am and 11:59pm.

.dateTimeRange

p.
	To create a date-time-range picker, initialize the dateRange widget on an empty div element.

code(data-mode='html').
	<div id="dateTimeRangeExample"></div>
code(data-mode='javascript').
	$('#dateTimeRangeExample').dateTimeRange();
//- 