p.
	The submitButton widget can be used to handle form submission. It is styled by the jQuery UI 
	theme and has a spinner animation during the submission process. This widget is not required 
	when using formBuilder, but it does make the process very easy to handle. 

button#submitButtonExample(type="submit") Submit Button 

p.
	A complete example of using the submitButton widget can be found in the <a href='#demo'>Live Demo</a> 
	and complete documentaion on the <a href='./api.html#widgets-submitButton'>API Reference</a> page.