.example
	p The Submit Button Widget creates a button that will save data when clicked upon and will display a spinning wheel while the data is being submitted. 

	button(type="submit") Submit Example 

	p

.code(data-mode='html').
	<form>
		<button type="submit">Submit Example</button>
	</form>
//- 