.array-field-add {
	a {
		color: $color-textNormal;
		text-decoration: none;
		font-weight: bold;
	}
}

.array-field {
	.input-field .addon.sort-handle {
		cursor: row-resize;
	}
}

.array-field-item {
	padding-bottom: $arrayField-separationPadding;

	&:hover .array-field-delete {
		color: $arrayField-removeIconHoverColor;
	}

	/* Not used
	&.include-ticker-header {
		position: relative;
		padding-top: 18px;
	}

	.ticket-header {
		position: absolute;
		top: -2px;
		font-size: 14px;
		left: 0;
		color:#848484;
	}
	*/
}


.array-field-delete {
	color: lighten($arrayField-removeIconHoverColor, 40%);

	.tms-icon {
		text-shadow: none;
	}
}

// Force addon to be the same, smaller size
.input-field .addon {
	&.array-field-delete,
	&.sort-handle,
	&.array-field-add {
		width: 1em;
		padding-right: 5.5px;
		padding-left: 5.5px;
		text-align: center;
	}
}

.array-field-add-message {
	&.field-item {
		border: 0;
		vertical-align: middle;
		margin-left: 0.5em;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}
