/**
 * Default, original theme
 */

/**
 * Global
 */
$base-fontSize: 14px;
$base-background: #fff;

$color-error: #c55;
$color-flash: #a00;

/**
 * InputField
 */
//colors
$inputField-label-color: #696969;
$inputField-overlay-color: #aaa;
$inputField-placeholder-color: #999;

$inputField-fieldItem-borderColor: #aaa;
$inputField-fieldItem-inputColor: #555;

$inputField-addon-backgroundColor: #f0f0f0;
$inputField-addon-clickable-backgroundColor: #E6E6E6;

$inputField-borderColor-focus: #79f;
$inputField-borderColor-warn: #aa4;
$inputField-borderColor-hover: #666;


//formatting
$inputField-fieldText-horizontalPadding: 5px;
$inputField-fieldText-verticalPadding: 7px;
$inputField-fieldItem-height: $base-fontSize * 2;

$inputField-fieldItem-borderWidth: 1px;



/**
 * Calculated
 */