p Use input groups to keep inputs inline
	.example: .input-field-group
		input(type='text' data-label='input 1')
		input(type='text' data-label='input 2')
		input(type='text' data-label='input 3 w/ pre' data-preinput='pre')
		p This is done by simply coding each desired input directly after the one before it
	.code(data-mode='html').
		<div class='input-field-group'>
			<input type="text" data-label="input 1">
			<input type="text" data-label="input 2">
			<input type="text" data-label="input 3 w/ pre" data-preinput="pre">
		</div>
	//- 