p The <i>data-label</i> attribute adds text above any input field
	.example: input(type='text' data-label='Some Label Text')
	.code(data-mode='html').
		 <input type="text" data-label="Some Label Text">
	//- 