p the <i>data-max</i> attribute adds a maximum character requirement, enforced while typed
	.example: input(type='text' data-label='Maxmum of 10 chars' data-max='10')
	.code(data-mode='html').
		<input type="text" data-label="Maxmum of 10 chars" data-max="10">
		
	//- 