p The <i>data-empty</i> or <i>data-placeholder</i> attribute will display placeholder text when an input field is empty
.example: input(type='text' data-empty='some text (empty)')
.example: input(type='text' data-placeholder='some text (placeholder)')
code(data-mode='html').
	<input type="text" data-empty="some text (empty)">
	<input type="text" data-placeholder="some text (placeholder)">
//- 