p Will add text at front/end of form field that can only be visible once the user has begun entering text into the field
p The <i>data-prefix</i>
.example: input(type='text' data-prefix='prefix')
p The <i>data-suffix</i>
.example: input(type='text' data-suffix='suffix')
p Both the <i>data-prefix</i> and the <i>data-suffix</i> can be used on the same input field if desired.
.example: input(type='text' data-prefix='prefix' data-suffix='suffix')
code(data-mode='html').
	<input type="text" data-prefix="prefix">
	<input type="text" data-suffix="suffix">
	<input type='text' data-prefix='prefix' data-suffix='suffix'>
//- 

