p To initialize a form with formBuilder
	.code(data-mode='javascript').
		 $('form').formBuilder();
	//- 

p To keep the form hidden until it is constructed or if it is unsupported, style the form with
	.code(data-mode='html').
		<form style="display:none;">
			....
		</form>
	//- 

p Only elements inside of the formBuilder are effected