p The <i>data-required</i> attribute if <b>applied to the input element</b> will prevent form submission if it is not valid
	.example: form(class='fb' action='#')
		input(type='text' data-label='Not Required')
		input(type='text' data-label='Required' data-required)
		br
		button(type='submit') Check Inputs
	.code(data-mode='html').
		<form action='#'>
			<input type="text" data-label="Not Required">
			<input type="text" data-label="Required" data-required>
		</form>
	//-

p The <i>data-default-required</i> attribute <b>applied to the form</b> element will set the default data-required state of all nested inputs
	.example: form(class='fb' action='#' data-default-required)
		input(type='text' data-label='Required' data-required)
		input(type='text' data-label='Still Required')
		br
		button(type='submit') Check Inputs
p In order to set the default data-require state for all nested input the attibute 'data-default-required' must be set to true in the parent attribute
	.code(data-mode='html').
		<form action="#" data-default-required>
			<input type="text" data-label="Required" data-required>
			<input type="text" data-label="Still Required">
		</form>
	//- 