extend ./_layout.jade

block vars
	- title = 'API Reference'

block localCSS
	//- link(type='text/css' rel='stylesheet' href='./css/guide.css')

block localJS
	//- script(type='text/javascript' src='./js/guide.js')

block sideNav
	li(name='general')
		a(href='#general') General API

block content
	h1
		a.anchor(name='general' href='#general')
		| General API
	.section
		p TODO