extend ./_layout.jade

block vars
	- title = 'API Reference'

block localCSS
	link(type='text/css' rel='stylesheet' href='./css/api.css')

block localJS
	script(type='text/javascript' src='./js/api.js')

block sideNav
	li.current
		a(href='#widgets') Widgets
		ul.navDepth-1
			li.current: a(href='#widgets-formBuilder') formBuilder
			li: a(href='#widgets-inputField') inputField
			li: a(href='#widgets-inputFilter') inputFilter
			li: a(href='#widgets-submitButton') submitButton
			li: a(href='#widgets-inputWidget') inputWidget
			li: a(href='#widgets-arrayField') arrayField
			li: a(href='#widgets-dropDownPanel') dropDownPanel
			li: a(href='#widgets-dateRangePicker') dateRangePicker
			li: a(href='#widgets-dateTimeRangePicker') dateTimeRangePicker
			li: a(href='#widgets-popOver') popOver
			li: a(href='#widgets-textSubmitter') textSubmitter
			li: a(href='#widgets-spin') spin
			
	li
		a(href='#inputTypes') Input Types
		ul.navDepth-1
			li: a(href='#inputTypes-standard') standard
			li: a(href='#inputTypes-select') select
			li: a(href='#inputTypes-date') date
			li: a(href='#inputTypes-time') time
			li: a(href='#inputTypes-dateTime') dateTime
			li: a(href='#inputTypes-money') money
			li: a(href='#inputTypes-phone') phone

	li
		a(href='#plugins') Plugins
		ul.navDepth-1
			li: a(href='#plugins-caret') caret

block content
	include content/api.html
