extend ./_layout.jade

block vars
	- title = 'User Guide'

block localCSS
	link(type='text/css' rel='stylesheet' href='./css/guide.css')

block localJS
	script(type='text/javascript' src='./js/guide.js')

block sideNav
	li.current
		a(href='#baseForm') Base Form
		ul.navDepth-1
			li.current: a(href='#baseForm-applyingFormBuilder') Applying the formBuilder
			li: a(href='#baseForm-requiredInputs') Required Inputs

	li
		a(href='#fieldEnhancements') Field Enhancements
		ul.navDepth-1
			li: a(href='#fieldEnhancements-preinputPostinput') Preinput/Postinput
			li: a(href='#fieldEnhancements-prefixSuffix') Prefix/Suffix
			li: a(href='#fieldEnhancements-labels') Labels
			li: a(href='#fieldEnhancements-placeholderText') Placeholder Text
			li: a(href='#fieldEnhancements-max') Max
			li: a(href='#fieldEnhancements-inputGroups') Input Groups
			li: a(href='#fieldEnhancements-tooltip') Tooltip
	
	li
		a(href='#dataTypes') Data Types
		ul.navDepth-1
			li: a(href='#dataTypes-inputTypes') Input Types
			li: a(href='#dataTypes-select') Select
			li: a(href='#dataTypes-textarea') Textarea
			li: a(href='#dataTypes-arrayField') Array Field
	
	li
		a(href='#customization') Customization
		ul.navDepth-1
			li: a(href='#customization-regexTypes') Creating Simple Regex Types
			li: a(href='#customization-fullTypes') Creating Full Custom Types
	
	li
		a(href='#unsupported') Unsupported
		ul.navDepth-1
			li: a(href='#unsupported-checkbox') Checkboxes
			li: a(href='#unsupported-radio') Radio Buttons

	li
		a(href='#demo') Live Demo
		ul.navDepth-1
			li: a(href='#demo-form') Form
			li: a(href='#demo-results') Results
			li: a(href='#demo-source') Source
	
	li
		a(href='#standAloneWidgets') Stand Alone Widgets
		ul.navDepth-1
			li: a(href='#standAloneWidgets-dateRangePicker') Date-Range Picker 
			li: a(href='#standAloneWidgets-dateTimeRangePicker') Date-Time-Range Picker
			li: a(href='#standAloneWidgets-dropDownPanel') Drop Down Panel
			li: a(href='#standAloneWidgets-textSubmitter') Text Submitter

block content
	h1 Base Form
		a.anchor(name='baseForm')
	.section
		h2 Applying the formBuilder
			a.anchor(name='baseForm-applyingFormBuilder')
		.section: include content/baseForm/applyingFormBuilder
		
		h2 Required Inputs
			a.anchor(name='baseForm-requiredInputs')
		.section: include content/baseForm/requiredInputs






	h1 Field Enhancements
		a.anchor(name='fieldEnhancements')
	.section
		h2 Preinput/Postinput
			a.anchor(name='fieldEnhancements-preinputPostinput')
		.section: include content/fieldEnhancements/preinputPostinput

		h2 Prefix/Suffix
			a.anchor(name='fieldEnhancements-prefixSuffix')
		.section: include content/fieldEnhancements/prefixSuffix
		
		h2 Labels
			a.anchor(name='fieldEnhancements-labels')
		.section: include content/fieldEnhancements/labels
		

		h2 Placeholder Text
			a.anchor(name='fieldEnhancements-placeholderText')
		.section: include content/fieldEnhancements/placeholderText	

		h2 Max
			a.anchor(name='fieldEnhancements-max')
		.section: include content/fieldEnhancements/max
		
		h2 Input Groups
			a.anchor(name='fieldEnhancements-inputGroups')
		.section: include content/fieldEnhancements/inputGroups
		
		h2 Tooltip
			a.anchor(name='fieldEnhancements-tooltip')
		.section: include content/fieldEnhancements/tooltip
		





	h1 Data Types
		a.anchor(name='dataTypes')
	.section
		h2 Input Types
			a.anchor(name='dataTypes-inputTypes')
		.section: include content/dataTypes/inputTypes
		
		h2 Select
			a.anchor(name='dataTypes-select')
		.section: include content/dataTypes/select

		h2 Textarea
			a.anchor(name='dataTypes-textarea')
		.section: include content/dataTypes/textarea
		
		h2 Array Field
			a.anchor(name='dataTypes-arrayField')
		.section: include content/dataTypes/arrayField
		






	h1 Customization
		a.anchor(name='customization')
	.section
		h2 Creating Simple Regex Types
			a.anchor(name='customization-regexTypes')
		.section: include content/customization/regexTypes
		
		h2 Creating Full Custom Types
			a.anchor(name='customization-fullTypes')
		.section: include content/customization/fullTypes
	







	h1 Unsupported
		a.anchor(name='unsupported')
	.section
		h2 Checkboxes
			a.anchor(name='unsupported-checkbox')
		.section
			//- .example

			input(type='checkbox' data-label='Some Checkbox')
			input(type='checkbox' data-label='Another')
			input(type='checkbox' data-label='More')

			br

			.selection-field-group
				input(type='checkbox' data-label='Group Checkbox')
				input(type='checkbox' data-label='Another Group')
				input(type='checkbox' data-label='More Group')

			br

			.selection-field-group.selection-horizontal
				input(type='checkbox' data-label='Group Checkbox')
				input(type='checkbox' data-label='Another Group')
				input(type='checkbox' data-label='More Group')

		h2 Radio Buttons
			a.anchor(name='unsupported-radio')
		.section

			input(type="radio" name="someRadio" data-label='Radio One' value='one')
			input(type="radio" name="someRadio" data-label='Radio Two' value='two')
			input(type="radio" name="someRadio" data-label='Radio Three' value='three')
				
			br

			.example
				input(type="radio" name="formRadioGroup" data-label='Form Radio Group One' value='one')
				input(type="radio" name="formRadioGroup" data-label='Form Radio Group Two' value='two')
				input(type="radio" name="formRadioGroup" data-label='Form Radio Group Three' value='three')

			.example
				.selection-field-group.selection-horizontal
					input(type="radio" name="someRadioGroup" data-label='Radio Group One' value='one')
					input(type="radio" name="someRadioGroup" data-label='Radio Group Two' value='two')
					input(type="radio" name="someRadioGroup" data-label='Radio Group Three' value='three')
	h1 Live Demo
		a.anchor(name='demo')
	.section: include content/demo




	h1 Stand Alone Widgets
		a.anchor(name='standAloneWidgets')
	.section
		h2 Date-Range Picker
			a.anchor(name='standAloneWidgets-dateRangePicker')
		.example
			p The Date-Range Picker creates two input fields for a beginning and ending date. Different ranges can be selected using the drop down panel. Arrow buttons can be used to move date ranges forwards or backwards by the allotted amount of time. This widget uses the date data-type and follows its rules for validation.
			.dateRange

		h2 Date-Time-Range Picker
			a.anchor(name='standAloneWidgets-dateTimeRangePicker')
		.example
			p The Date-Time-Range Picker creates two input fields for a beginning and ending date and also inclues time fields for each date. Different ranges can be selected using the drop down panel. Arrow buttons can be used to move date ranges forwards or backwards by the allotted amount of time. This widget uses the date data-type and the time-data type and follows their rules for validation. If no time is selected, then the time fields will default to 12:00am and 11:59pm.
			.dateTimeRange
		
		h2  Drop Down Panel
			a.anchor(name='standAloneWidgets-dropDownPanel')
		.section: include content/standAloneWidgets/dropDownPanel

		h2  Text Submitter
			a.anchor(name='standAloneWidgets-textSubmitter')
		.section: include content/standAloneWidgets/textSubmitter
				