extend ./_layout.jade

block vars
	- title = 'About'

block localCSS
	//- link(type='text/css' rel='stylesheet' href='./css/guide.css')

block localJS
	//- script(type='text/javascript' src='./js/guide.js')

block sideNav
	li
		a(href='#about') About

block content
	h1 About
		a.anchor(name='about')
	.section
		p TODO