p.
	FormBuilder checkboxes are very similar to normal HTML checkboxes, minus the need for an extra label tag. 
	To add a label, add the <b>data-label</b> attribute. Labels can be made of html or just raw text. Checkboxes may can 
	also be marked as required with the <b>data-required</b> attribute. If a checkbox is marked as required and it is unchecked
	then it will turn red to alert the user that it is a required field. 
p.
	Checkboxes are made using the selectionField widget and they inherit many of the same functions as the inputField widget. 
	This does not include the other input types or most field enhancements. Checkboxes have validation methods, different states, and 
	they can be set/get. When used in a formBuilder form, they are seen as inputs with a boolean value.

.example
	input(type='checkbox' data-label='Some Checkbox')
	input(type='checkbox' data-label='A <i>fancy</i> one!')
	input(type='checkbox' data-label='A required one' data-required='true')

.code(data-mode='html').
	<input type="checkbox" data-label="Some Checkbox"/>
	<input type="checkbox" data-label="A <i>fancy</i> one!"/>
	<input type="checkbox" data-label="A required one" data-required="true"/>
//- 

p.
	Checkboxes can be grouped using the <b>selection-field-group</b> class, but it is not necessary. A group of 
	checkboxes can be aligned horizontally with the <b>selection-horizontal</b> class.

.example
	.selection-field-group.selection-horizontal
		input(type='checkbox' data-label='Some Checkbox')
		input(type='checkbox' data-label='A <i>fancy</i> one!')
		input(type='checkbox' data-label='A required one' data-required='true')

.code(data-mode='html').
	<div class="selection-field-group selection-horizontal">
		<input type="checkbox" data-label="Some Checkbox"/>
		<input type="checkbox" data-label="A <i>fancy</i> one!"/>
		<input type="checkbox" data-label="A required one" data-required="true"/>
	</div>
//- 