p The user must type a code in that matches the a value of an object in a defined <i>codeArray</i>. 
	br 
	| Element attributes <i>data-type='code' data-codes='[yourCodeArrayVariableName]'</i>
	br 
	| In JS, <b>before the formBuilder is initialized</b>
	.example: input(type='text' data-label='code initialized w/ js' data-type='code' data-codes='testCodes')
	//- .example: input(type='text' data-label='code initialized w/ inline JSON' data-type='code' data-codes='[\
		{"value":"what the user types", "label":"what the user sees in the dropdown"},\
		{"value":"100",  "label":"Some label"},\
		{"value":"AAA",  "label":"123 Some St."},\
		{"value":"BBB",  "label":"Some Business Name Inc."},\
		{"value":"Hodor",  "label":"Bran"}\
		]')
	.code(data-mode='javascript').
		var yourCodeArrayVariableName = [
			{"value":"what the user types 1", "label":"what the user sees 1"},
			{"value":"what the user types 2", "label":"what the user sees 2"},
											...
			{"value":"what the user types n-1", "label":"what the user sees n-1"},
			{"value":"what the user types n", "label":"what the user sees n"}
		];
	//- 