p No extra attributes are required. Note: pre/post-inputs will be placed on the outside of this area.
.example: textarea(rows='3' data-label='TextArea')


code(data-mode='html').
	<textarea rows="3" data-label="TextArea">
	
	</textarea>