@font-face {
	font-family: 'formBuilderIcons';
	src:url('../../assets/fonts/formBuilderIcons.eot');
	src:url('../../assets/fonts/formBuilderIcons.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/formBuilderIcons.ttf') format('truetype'),
		url('../../assets/fonts/formBuilderIcons.woff') format('woff'),
		url('../../assets/fonts/formBuilderIcons.svg#formBuilderIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fb-icon,
.fb-icon.ui-icon {
	font-family: 'formBuilderIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;

	/*
	 * reset ui-cion
	 */
	background: transparent;
	display: inline;
	text-indent: 0;
}

.fb-icon {
	&:hover {
		color: $icons-hoverColor;
	}

	&:active {
		color: $icons-activeColor;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	}
}

.fb-icon:before {
	text-indent: 0;
}

.ui-button {
	.fb-icon {
		font-size: $base-fontSize;
		line-height: #{17px/14px * $base-fontSize};

		&:hover {
			color:inherit;
		}
	}
}


// Icons
@each $icon in (
	home		e000,
	office		e001,
	sort-up		e004,
	sort-down	e005,
	iphone		e012,
	remove		e01a,
	print		e02a,
	search		e02d
) {
	.fb-icon-#{nth($icon, 1)}:before {
		// See https://github.com/sass/sass/issues/659
		content: #{'\"\\'}#{nth($icon, 2) + '\"'}
	}
}

// Specials
.fb-icon-iphone:before {
	padding-left: .14em;
	padding-right: .15em;
}

