@import '../theme.scss';

.selection-field {
	display: block;
	font-size: $base-fontSize;
	
	label {
		display: inline-block;
		margin: 2px 0px;
		padding: 2px 2px;
		cursor: pointer;
		color: $selectionField-labelColor;


		input {
			cursor: pointer;
			vertical-align: middle;			
		}

		span {
			margin-left: 5px;
			vertical-align: middle;
		}
	}

	&.hover {
		label {
			color: $selectionField-labelHoverColor;
		}
	}

	&.disable {
		opacity: $selectionField-disabledOpacity;
	}

	&.error {
		label {
			color: $selectionField-labelErrorColor;
			font-weight: bold;
		}
	}
}

.selection-field-group {
	display: block;
	font-size: 0px;

	&.selection-horizontal .selection-field {
		display: inline-block;
		white-space: nowrap;
		vertical-align: bottom;

		&:not(:first-child) {
			margin-left: $selectionField-horizontalSpacing;
		}
	}

}